XForceSTB/config.py
XForceSTB/*.session
XForceSTB/*.session-journal
XForceSTB/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
XForceSTB/modules/helper_funcs/temp.txt
XForceSTB/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
XForceSTB.session-journal
updates.txt
*.exe
